body {
  margin: 0;
  background:
    url('./assets/images/pattern-hills.svg') no-repeat bottom right 20%,
    url('./assets/images/pattern-hills.svg'),
    linear-gradient(to bottom, red, white);
  background-size: 100%;
}
* {
  font-family: 'Red Hat Text', sans-serif !important;
}
